<html ng-app = "myApp">
<head>
    <title> hello </title>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller = "myCtrl">
    <h1> Weather forecast for: {{data['city']}}, {{data['country']}}</h1>
    <div class="table">
        <div class="table-row table-title">
            <div class="cell">Date</div>
            <div class="cell">Day Temp</div>
            <div class="cell">Min Temp</div>
            <div class="cell">Max Temp</div>
        </div>
        <div ng-repeat = "day in data['weather']" class="table-row day-temp">
            <div class="cell">{{day['date']}}</div>
            <div class="cell">{{day['temp']}} &#8451</div>
            <div class="cell">{{day['temp_min']}} &#8451</div>
            <div class="cell">{{day['temp_max']}} &#8451</div>
        </div>
    </div>
    <script src="angular.js"></script>
    <script src="app.js"></script>
</body>
</html>