div {
    border-collapse: collapse;
    border-style: solid;
    border-width: 0.05em;
}

.table {
    display: block;
    width: 50vw;
    margin: 2% auto 0 auto;
    align: center;
}

.table-row {
    display: flex;
    width: 50vw;
    height: 3vw;
    flex-direction: row;
    text-align: center;
}

.table-title {
    font-weight: bold;
}

.day-temp:hover{
    background-color: gray;
}

.cell {
    flex-basis: 100%;
    font-size: 110%;
}

h1 {
    margin: 2% auto 0 auto;
    text-align: center;
}